* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #112d4e;
  margin-top: 2%;
  text-align: center;
  letter-spacing: 1px;
}

.container {
  width: 90%;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dbe2ef;
  border-radius: 10%;
}

.container p {
  width: 60%;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
}

.container form input {
  width: 400px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background-color: #dbe2ef;
  color: #112d4e;
  margin-top: 14px;
  font-size: 16px;
}

.container form input::placeholder {
  color: #112d4e;
  padding: 10px 0px;
}

.container .button {
  margin: 40px 0px 20px 0px;
  width: 300px;
  height: 70px;
  border: none;
  background-color: #112d4e;
  color: #dbe2ef;
  border-radius: 20px;
  font-size: 19px;
}

.container .button:hover {
  background-color: #96071c;
  color: #dbe2ef;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.resultpara {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.resultpara p {
  width: 50%;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
}

.hiorLow {
  color: #112d4e;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
    border-radius: 0%;
  }

  .container p {
    width: 80%;
  }

  .container form input {
    width: 80%;
  }

  .container .button {
    width: 80%;
  }

  .resultpara p {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
    
    .container p {
        width: 90%;
    }
    
    .container form input {
        width: 90%;
    }
    
    .container .button {
        width: 90%;
    }
    
    .resultpara p {
        width: 90%;
    }
}