*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.container{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid black;
}

.container h1{
    margin: 20px 0;
    text-align: center;
}

.container label{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.container input{
    width: 100%;
    padding: 20px;
    margin: 1.2rem 0;
    border: 1px solid white;
    border-radius: 10px;
}

.container button{
    width: 100%;
    padding: 20px 0;
    margin: 1.2rem 0;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #2BD2FF;
}

.container button:hover{
    background-color: #2BFF88;
    transition: 0.5s all ease-in-out;
    /* transform: scale(1.1); */
}

.result{
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}